.App {
  text-align: center;
}





.App-link {
  color: #61dafb;
}

/* .blogWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.blogWrapper {
  margin: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
  width: 28%;
  min-width: 250px;
}
.blogtitle {
  font-size: 16px;
    margin-bottom: 0;
}
.showcommentbtn {
  background-color: #fff;
    border: none;
    font-size: 15px;
    color: #1a1aed;
    cursor: pointer;
}
.blogCtnr {
  display: flex;
    flex-wrap: wrap;
    margin: 0 5vw;
    justify-content: center;
    
    
}